.red-bg {
  background-color: #a13941 !important;
}
.txt-red {
  color: #a13941 !important;
}
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #a13941 !important;
}
.signin,
.signup{
  background-image: url("../../assets/img/pattern_main.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.red-img-bg {
  z-index: 5;
  height: fit-content;
  /* background-image: url("../../assets/img/pattern_main.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  left: 0;
  position: relative;
}
.signup .form-control{
  border: 0;
  background-color: rgba(32, 32, 32, 0.3);
  color: #fff;
  padding: 20px;
}
