.red-bg {
  background-color: #a13941 !important;
}
.txt-red {
  color: #a13941 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #a13941 !important;
}
.btn-block {
  background-color: #a13941 !important;
}
.red-img-bg {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-image: url("../../assets/img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: relative;
}
